# Select the dataset

In [2]:
import pandas as pd
ds = pd.read_csv("dataset/student-mat.csv")
ds.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [30]:
# boolean questions
print("--------Binary fields from dataset--------")
# windows
!type "dataset\info.txt" | find "binary: yes or no" 
# linux
# !grep "binary" "dataset/info.txt"

--------Binary fields from dataset--------
schoolsup - extra educational support (binary: yes or no)
famsup - family educational support (binary: yes or no)
paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
activities - extra-curricular activities (binary: yes or no)
nursery - attended nursery school (binary: yes or no)
higher - wants to take higher education (binary: yes or no)
internet - Internet access at home (binary: yes or no)
romantic - with a romantic relationship (binary: yes or no)

In [12]:
# choose one binary field
FIELD = "romantic"

In [17]:
# select dataset
field_ds = ds[FIELD]
field_ds

0       no
1       no
2       no
3      yes
4       no
      ...
390     no
391     no
392     no
393     no
394     no
Name: romantic, Length: 395, dtype: object

In [25]:
# convert "no" to 0, "yes" to 1
true_ans = (field_ds == "yes")
true_ans

0      False
1      False
2      False
3       True
4      False
       ...
390    False
391    False
392    False
393    False
394    False
Name: romantic, Length: 395, dtype: bool

In [31]:
# percent of yes
true_ans.mean()

0.3341772151898734

In [36]:
# save the data
true_ans.to_csv("dataset/student-in-relationship.csv", index=False)